.liste-element {
    table {
        width: 100%;
        height: 100%;
    }

    td {
        padding: 10px;
    }
}
@for $i from 1 through 10 {
    .grid-cols-#{$i} {
        grid-template-columns: repeat($i, minmax(0, 1fr));
    }
    .col-span-#{$i}{
        grid-column: span $i / span $i;
    }
}